@import '../base/vars';
@import '../base/mixins';

@mixin grid-1-4 {
    .grid-1-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .cell {
            &__title {
                font-size: 1.5rem;
            }
        }

        &--home-a {
            margin-top: 3rem;
            gap: 1rem;
            .cell {
                &__icon {
                    color: $color-base;
                    padding-bottom: 0.4rem;
                }

                @include phone {
                    padding: 1rem 0;
                    border-bottom: 1px solid $color-light;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        &--home-b {
            .cell {
                padding: 3rem 0;
                &:nth-child(odd) {
                    background-color: $color-light;
                }
                &:nth-child(even) {
                    background-color: $color-medium;
                }
                &__number {
                    font-size: 2rem;
                    font-weight: bold;
                }
                li {
                    line-height: 2;
                }

                @include phone {
                    padding: 2rem 0 1rem 0;
                }
            }
        }

        &--home-c {
            gap: 1.5rem;

            .cell {
                &__icon {
                    position: relative;
                    background-color: $color-dark;
                    color: $color-light;
                    width: 10rem;
                    height: 10rem;
                    line-height: 10rem;
                    border-radius: 50%;
                    text-align: center;
                    transition: all 0.5s;

                    @include tablet {
                        width: 15vw;
                        height: 15vw;
                        line-height: 15vw;
                        font-size: 5vw;
                    }
                    @include phone {
                        width: 10rem;
                        height: 10rem;
                        line-height: 10rem;
                        font-size: 4rem;
                    }

                    &:hover {
                        background-color: $color-base;
                        transform: scale(1.2);

                        .cell__step {
                            background: $color-dark;
                        }
                    }
                }
                &__step {
                    font-family: 'Dosis', sans-serif;
                    font-weight: 500;
                    @include position-to-edge([top, right]);
                    font-size: 1.75rem;
                    width: 3rem;
                    height: 3rem;
                    line-height: 3rem;
                    text-align: center;
                    background-color: $color-base;
                    border-radius: 50%;
                    transition: all 0.5s;

                    @include tablet {
                        width: 5vw;
                        height: 5vw;
                        line-height: 5vw;
                        font-size: 3vw;
                    }
                    @include phone {
                        width: 3rem;
                        height: 3rem;
                        line-height: 3rem;
                        font-size: 1.75rem;
                    }
                }
            }
        }
        &--about-c {
            gap: 2rem;

            .cell {
                width: 70%;
                margin: auto;
            }
        }
        &--about-d {
            gap: 0.5rem;

            .cell {
                &__person {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                }
                &__testimonial {
                    border: 1px solid $color-medium;
                    border-radius: 5px;
                    padding: 0.5rem;
                }
                &__avatar {
                    width: 3.125rem;
                    height: 3.125rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
