@import '../base/vars';
@import '../base/mixins';

@mixin grid-area {
    .grid-area {
        display: grid;
        grid-template-areas:
            'image      bio         bio'
            'award-1    award-2     award-3';
        gap: 1.2rem;

        @include phone {
            grid-template-areas:
                'image'
                'bio'
                'award-1'
                'award-2'
                'award-3';
        }

        .cell {
            @each $cell in [image bio award-1 award-2 award-3] {
                &--#{$cell} {
                    grid-area: $cell;
                }
            }
            &--bio {
                border-left: 3px solid $color-base;
                padding: 0.8rem;
            }
            &--award {
                &__icon {
                    color: $color-base;
                    margin: 1rem;
                }
            }
        }
        &--contact-a {
            gap: 1.2rem;
            margin-bottom: 1.2rem;
            grid-template-areas:
                'name       email'
                'subject    phone'
                'message    message';

            @include phone {
                grid-template-areas:
                    'name'
                    'email'
                    'phone'
                    'subject'
                    'message';
            }

            .form {
                @each $field in [name email subject phone message] {
                    &__#{$field} {
                        grid-area: $field;
                    }
                }
                &__message {
                    height: 6rem;
                }
            }
            .cell {
                padding: 0.5rem 1rem;
                font-family: 'Dosis', sans-serif;
                &:focus {
                    outline: none;
                    border: 1px solid $color-base;
                }
            }
        }
    }
}
