@import '../base/vars';
@import '../base/mixins';

.header {
    color: #fff;
    background-image: $img-bg;
    background-size: cover;
    background-repeat: no-repeat;

    &--home {
        background-position: center center;
        height: 100vh;
        max-height: 1024px;

        @include tablet {
            height: 30rem;
        }
        @include phone-landscape {
            height: 100vh;
        }
    }
    &--inner {
        background-position: 20% 30%;
        height: 5.5rem;
        border-bottom: 3px solid $color-base;
    }

    @include phone {
        background-position: 20% 30%;
        height: 10rem;
        border-bottom: 3px solid $color-base;
    }
}
